body{
    letter-spacing: 1.5%;
}
h1, h2, h3, h4, h5, h6, p {
	vertical-align: baseline;
}
ul{
    margin-bottom: 0;
}
a {
	color: inherit;
    display: inline-block;
}
img {
	max-width: 100%;
	height: auto;
}

.text-body-1{
    font-size: 16px !important;
}
.text-body-2{
    font-size: 14px !important;
}
.text-body-3{
    font-size: 12px !important;
}
.text-body-4{
    font-size: 11px !important;
}
.text-body-5{
    font-size: 18px !important;
}

// *,*::after,*::before{
//     outline: 1px solid red;
// }