// 預設輸入框背景色為灰色
.input-gray {
    background-color: #7676801F !important;
}
// 當輸入框獲得焦點時變為白色
.input-gray:focus {
    background-color: #ffffff !important;
}
.border-radius-12px{
    border-radius: 12px !important;
}
#messageForm {
    position: fixed;
    bottom: 0;
    width: 390px;
    background-color: #fff; 
    border: 1px solid #ccc; 
    z-index: 1000; 
    padding: 10px; 
}
.border-radius-12px{
    border-radius: 12px;
}
.messageSwiper{
    .swiper-slide{
        max-width: 220px;
        height: 220px;
    }
}
